<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" href="https://www.instagram.com/ripley_the_tokyo_shiba/" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.02)), url(assets/images/behance_profile.jpg)"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>3D Art & Game Programming&nbsp;<i class="fas fa-gamepad"></i></h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Maya |</span>
        <span>ZBrush | Substance | Photoshop</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>I am an avid gamer and in my spare time I like to model and texture different nerdy things.
        Check out my <a href="https://www.artstation.com/starry_b" class="link" target="_blank">Artstation</a>
        or my <a href="https://www.behance.net/starry_b_tokyo" class="link" target="_blank">Behance</a>.
        I am even part of a nerdy modding group <a href="https://beyondskyrim.org/" class="link" target="_blank">Beyond Skyrim</a>.
        If you're in Marrowind keep an eye out for some of my future work;)</p>
      <a href="https://www.behance.net/starry_b_tokyo" target="_blank"><i class="devicon-behance-plain"></i></a>
      <a href="https://www.artstation.com/starry_b" target="_blank"><i class="fab fa-artstation"></i></a>
    </div>
    <div class="post-content-links">
      <p>Let's work on something!&nbsp; <a href="mailto:blamb888@gmail.com" id="btn_olive" target="_blank"><i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
