<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" data-target="#MMB_MODAL" style="background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgamespot1.cbsistatic.com%2Fuploads%2Fscreen_kubrick%2F1600%2F16003485%2F3698843-comic-conn.jpg&f=1&nofb=1)" data-toggle="modal" data-target="#MMB_modal"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>Costume Marketplace&nbsp;<i class="fas fa-ghost"></i></h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Lead Dev |</span>
        <span>Rails | Cloudinary</span>
      </div>
    </div>
    <div class="post-content-description">
      was lead developer for this one-week market-place    project sprint. I did a lot of the back-end work on this project, including creating the back-end CRUD methods and implementing our map, and setting up our Cloudinary services. Check out these links for more info:</p>
    <a href="https://youtu.be/Zl-D6htsWBA?t=3296" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://careerkarma.com/discussions/projects/mimic-s-blackberry-991/" target="_blank"><i class="far fa-newspaper"></i></a>
    <a href="https://www.artstation.com/starry_b" target="_blank"><i class="fab fa-artstation"></i></a>
  </div>
  <div class="post-content-links">
    <p>Read more&nbsp; <a href="mailto:blamb888@gmail.com" id="btn_olive" target="_blank"><i class="fas fa-paper-plane"></i></a></p>
  </div>
</div>
</div>
