<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" data-target="#MMB_MODAL" style="background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.enworld.org%2Fattachments%2Ftashacover-jpg.125021%2F&f=1&nofb=1)" data-toggle="modal" data-target="#MMB_modal"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>D<i class="fab fa-d-and-d"></i>D Spells Ranked</h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Solo Dev |</span>
        <span>Rails | API's</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>This was a solo project I did. I made an application for ranking and reviewing D&D
        spells. I thought it might be fun to have a constantly up-to-date place for players to go see how other players feel
        about different spells. Thinking of adding a new section
        specifically for people's opinions about what spells to
        take at which level for each class.
        <br>
        Check out these links for more info:</p>
      <a href="https://youtu.be/Zl-D6htsWBA?t=3296"><i class="fab fa-youtube"></i></a>
      <a href="https://careerkarma.com/discussions/projects/mimic-s-blackberry-991/"><i class="far fa-newspaper"></i></a>
      <a href="https://www.artstation.com/starry_b"><i class="fab fa-artstation"></i></a>
    </div>
    <div class="post-content-links">
      <p>Read more&nbsp; <a href="mailto:blamb888@gmail.com" id="btn_olive" target="_blank"><i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
