<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" href="https://www.instagram.com/ripley_the_tokyo_shiba/" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.02)), url(assets/images/gm_tokyo.png)"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>React Flats&nbsp;<i class="fas fa-map-marked-alt"></i></h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>React |</span>
        <span>Rails | Google Maps API</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>This was a simple app I made in a day leveraging what I have learned about React components. This also gave me the opportunity to use Google Maps in an app for the first time. You'll notice it is still the free "developer" version on this project. It is just a practice project so I didn't feel it warranted paying to use the full features of Google Maps. Although I will readily admit they are easy to use and awesome;)</p>
    </div>
    <div class="post-content-links">
      <p>Read more&nbsp; <a href="mailto:blamb888@gmail.com" id="btn_olive" target="_blank"><i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
