<div class="post">
  <div class="post-preview">
    <%= partial 'layouts/carousels/MMB_carousel', class: "post-preview-link" %>
    <%= partial 'layouts/carousels/modals/MMB_modal' %>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>Mimic's Blackberry&nbsp;<i class="fas fa-calendar-alt"></i></h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Lead Dev |</span>
        <span>Rails | Chrome Extension</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>I was the lead developer on a Dungeons & Dragons calendar application to help DM's and players connect, keep track of time, and take notes about their campaigns. The app has pre-made calendar templates for different fantasy settings (such as Eberron) seeded with cultural events and holidays endemic to those settings. Super nerdy, I know. I'm surprised my team agreed to help make my vision come to life. But I am really grateful that they did because it was a great experience.
        <br>
        One of the issues that came up towards the end of the project was how to let our users take notes/update their calendars in our database without leaving their virtual table tops (like Roll20). We only had a couple days before we had to pitch the project and the solution we landed on was building a Chrome Extension. Only issue was none of us had ever built one before! Everyone else had their own features they were working on and I had just finished up the JSON file and service methods for populating the fantasy calendar for Eberron, so I jumped on it. It was a bit of a challenge but it was really fun to learn how to make them. I was actually surprised that it wasn't more difficult. There are still some improvements that could be made, but it turned out to be exactly what we needed to pitch our product. So in terms of that it was a definite success.
        <br>
        This project also had me leading daily stand-ups, reviewing pull requests, answering technical questions, doing code walkthroughs, mediating, and writing a lot of backend Ruby. I also worked on frontend fixes and responsiveness.
        <br>
        It was our capstone project for Batch #543 of Le Wagon's Tokyo Web Development Boot Camp.
        <br>
        Check out these links for more info:</p>
      <a href="https://youtu.be/Zl-D6htsWBA?t=3296" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://careerkarma.com/discussions/projects/mimic-s-blackberry-991/" target="_blank"><i class="far fa-newspaper"></i></a>
      <a href="https://www.artstation.com/starry_b" target="_blank"><i class="fab fa-artstation"></i></a>
    </div>
    <div class="post-content-links">
      <p ><a href="https://www.mimics-blackberry.com/" class="btn-red" target="_blank">Visit Site&nbsp;<i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
