<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" data-target="#MMB_MODAL" style="background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Friversideschoolsart.weebly.com%2Fuploads%2F5%2F3%2F6%2F1%2F53616693%2F3118.png&f=1&nofb=1)" data-toggle="modal" data-target="#MMB_modal"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>Pop-Culture Cocktails&nbsp;<i class="fas fa-cocktail"></i></h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Solo Dev |</span>
        <span>Rails | Database & Forms</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>This was the first app I ever made aside from my profile. There is a cocktail bar in Shibuya that serves cocktails based off of famous movies. For instance the "Die Hard" on their menu is basically gasoline. I thought it would be fun to have a place where people could share their ideas of what different movie cocktails should be. Check out these links for more info:</p>
      <a href="https://youtu.be/Zl-D6htsWBA?t=3296"><i class="fab fa-youtube"></i></a>
      <a href="https://careerkarma.com/discussions/projects/mimic-s-blackberry-991/"><i class="far fa-newspaper"></i></a>
      <a href="https://www.artstation.com/starry_b"><i class="fab fa-artstation"></i></a>
    </div>
    <div class="post-content-links">
      <p>Read more&nbsp; <a href="mailto:blamb888@gmail.com" id="btn_olive" target="_blank"><i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
