<div class="post">
  <div class="post-preview">
    <iframe class="post-preview-link" src="https://giphy.com/embed/9V8RorZtNTN8jf27k0" width="100%" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/strangerthings-netflix-stranger-things-9V8RorZtNTN8jf27k0">via GIPHY</a></p>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>Stranger Gifs&nbsp;<i class="fas fa-film"></i></h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Solo Dev |</span>
        <span>React | API's</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>I really love building things, and not just web applications. I enjoy making art, 3D models, tools for DM's, really anything that strikes my fancy. I really enjoy the process of figuring out how to make ideas become reality, whatever they might be. I also dabble in indie game development too. Check out these links for more info:</p>
      <a href="https://github.com/blamb888/"><i class="devicon-github-original"></i></a>
      <a href="https://www.behance.net/starry_b_tokyo"><i class="devicon-behance-plain"></i></a>
      <a href="https://www.artstation.com/starry_b"><i class="fab fa-artstation"></i></a>
    </div>
    <div class="post-content-links">
      <p>Let's collaborate!&nbsp; <a href="mailto:blamb888@gmail.com" id="btn_olive" target="_blank"><i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
