<div class="post">
  <div class="post-preview">
    <%= partial 'layouts/carousels/SG_carousel', class: "post-preview-link" %>
    <%= partial 'layouts/carousels/modals/SG_modal' %>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>Stranger Gifs&nbsp;<i class="fas fa-film"></i></h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Solo Dev |</span>
        <span>React | API's</span>
      </div>
    </div>
    <div class="post-content-description">
      <p> am currently brushing up on my React skills and going through an amazing workshop. This gif page was made utilizing React, Babel, and JSX. Check out these links for more info:</p>
      <a href="https://github.com/blamb888/" target="_blank"><i class="devicon-github-original"></i></a>
      <a href="https://www.behance.net/starry_b_tokyo" target="_blank"><i class="devicon-behance-plain"></i></a>
      <a href="https://www.artstation.com/starry_b" target="_blank"><i class="fab fa-artstation"></i></a>
    </div>
    <div class="post-content-links">
      <p ><a href="https://blamb888.github.io/workshop/" class="btn-red" target="_blank">Visit Site&nbsp;<i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
