<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" href="https://www.instagram.com/ripley_the_tokyo_shiba/" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.02)), url(assets/images/ripley_insta.jpg)"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>Shiba Dad&nbsp;<i class="fas fa-dog"></i> | D<i class="fab fa-d-and-d"></i>D Nerd</h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Pupper Dad |</span>
        <span>Dungeon Master</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>I have been playing Dungeons and Dragons for a couple of years now. I mainly DM but I love to be a player as well. Let me know if you want to <%= link_to "roll for initiative", "https://app.roll20.net/users/3742675/brandon-l", target: "_blank" %> on something!</p>
      <p> But enough talk about me.
        You're all here for the pupper photos, I know.
        Please like and follow my dog Ripley on her
        <a href="https://www.instagram.com/ripley_the_tokyo_shiba/" class="link" target="_blank">Instagram</a>.</p>
      <a href="https://youtu.be/Zl-D6htsWBA?t=3296" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://careerkarma.com/discussions/projects/mimic-s-blackberry-991/" target="_blank"><i class="far fa-newspaper"></i></a>
      <a href="https://www.artstation.com/starry_b" target="_blank"><i class="fab fa-artstation"></i></a>
    </div>
    <div class="post-content-links">
      <p>Read more&nbsp; <a href="mailto:blamb888@gmail.com" id="btn_olive" target="_blank"><i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
