<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" href="dndbeyond.com" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.gensoftsindia.com%2Fwp-content%2Fuploads%2F2018%2F01%2Fweb-development.jpg&f=1&nofb=1)"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>My Stack</h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Studied @</span>
        <span><a href="https://www.lewagon.com/tokyo" class="link" target="_blank">Le Wagon Tokyo</a></span>
      </div>
    </div>
    <div class="post-content-description">
      <p>I studied programming and web development at <a href="https://www.lewagon.com/tokyo" class="link" target="_blank">Le Wagon Tokyo</a>. I currently do a lot of backend work with Node.js, Serverless, and AWS. My stack looks like this right now:</p>
      <stack>
        <item><i class="devicon-amazonwebservices-original"></i></item>
        <item><i class="devicon-nestjs-plain"></i></item>
        <item><i class="devicon-javascript-plain"></i></item>
        <item><i class="devicon-nodejs-plain"></i></item>
        <item><i class="devicon-typescript-plain"></i></item>
        <item><i class="devicon-jquery-plain-wordmark"></i></item>
        <item><i class="devicon-npm-original-wordmark"></i></item>
        <item><i class="devicon-yarn-plain"></i></item>
        <item><i class="devicon-ruby-plain"></i></item>
        <item><i class="devicon-rails-plain"></i></item>
        <item><i class="devicon-react-original"></i></item>
        <item><i class="devicon-html5-plain"></i></item>
        <item><i class="devicon-css3-plain"></i></item>
        <item><i class="devicon-bootstrap-plain"></i></item>
        <item><i class="devicon-figma-plain"></i></item>
        <item><i class="devicon-photoshop-plain"></i></item>
        <item><i class="devicon-postgresql-plain"></i></item>
        <item><i class="devicon-heroku-original"></i></item>
        <item><i class="devicon-git-plain"></i></item>
        <item><i class="devicon-github-original"></i></item>
      </stack>
    </div>
    <div class="post-content-links">
      <p><a href="https://github.com/blamb888/" target="_blank">Learn More</a></p>
    </div>
  </div>
</div>
