<div class="post">
  <div class="post-preview">
    <%= partial 'layouts/carousels/TWP_carousel', class: "post-preview-link" %>
    <%= partial 'layouts/carousels/modals/TWP_modal' %>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>Tokyo Watch Party&nbsp;<i class="fas fa-video"></i></h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>Solo Dev |</span>
        <span>Rails | API's | JavaScript</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>This app uses the Vonage video API to make a private screenshare/watch party for a group of friends. The app has a simple sign in function, along with screenshare and chat functions.</p>
      <p>Drop me an email if you'd like to use this app for an interview and I'll send you the password information;)</p>
    </div>
    <div class="post-content-links">
      <p ><a href="https://tokyo-watch-party.herokuapp.com/" class="btn-red" target="_blank">Visit Site&nbsp;<i class="fas fa-paper-plane"></i></a></p>
    </div>
  </div>
</div>
