<div class="banner" id="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/dsk31wxkb/image/upload/v1630993853/page_banner_mp9okc.png);">
  <div class="container">
    <h1>A full stack developer and Dungeons <i class="fab fa-d-and-d"></i> Dragons nerd living in the <strong>heart of Japan</strong>!</h1>
    <p>Please click on the email icon for inquiries, collabs, and job opportunities.</p>
    <a class="btn-red" href="https://app.roll20.net/users/3742675/brandon-l" target="_blank">D<i class="fab fa-d-and-d"></i>D Enthusiast</a>
    <a class="btn-red" href="https://github.com/blamb888" target="_blank">Full Stack Developer</a>
    <a class="btn-red" href="https://www.instagram.com/starry_b_eats/" target="_blank">Great Smiler</a>
    <a class="btn-red" href="mailto:blamb888@gmail.com" target="_blank">Email me&nbsp;<i class="fas fa-paper-plane"></i></a>
  </div>
</div>
