<div class="card_white" id="title_card">
  <%= image_tag "brandon_with_sakura_round.png", id: "profile_image" %>
  <h2 id="mail"><a href="mailto:blamb888@gmail.com" id="btn_olive" target="_blank">
      <i class="fas fa-paper-plane"></i></a></h2>
  <h1>Brandon Lamb</h1>
  <ul class="header_ul">
    <li>
      <h4><a href="https://app.roll20.net/users/3742675/brandon-l" id="btn_olive" target="_blank">
          D&D Enthusiast</a></h4>
    </li>
    <li>
      <h4><a href="https://github.com/blamb888" id="btn_olive" target="_blank">Full Stack Developer</a></h4>
    </li>
    <li>
      <h4><a href="https://www.instagram.com/starry_b_eats/" id="btn_olive" target="_blank">Great Smiler</a></h4>
    </li>
  </ul>
</div>
