<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar">
  <button id="button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn-red" href="#top">Top&nbsp;<i class="fas fa-angle-double-up"></i></a>
      </li>
      <li class="nav-item">
        <a class="btn-red" href="mailto:blamb888@gmail.com" target="_blank">Email me&nbsp;<i class="fas fa-paper-plane"></i></a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar-large dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/images/brandon_with_sakura_round.png" />
      </li>
    </ul>
  </div>
</div>
