.footer {
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgb(129, 178, 154);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(129, 178, 154);
  opacity: 0.45;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: rgb(224, 122, 95);
  transition: .3s;
}
.footer .fa-heart {
  color: #D23333;
}
