/*Images*/
.card_image {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 2px rgb(4, 4, 4);
  text-align: left;
}

#profile_image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 4px rgb(4, 4, 4);
  margin: 0 auto;
}

#doge {
  margin: 0px 5px 15px 0px;
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 2px rgb(4, 4, 4);
}

#dnd_logo {
  margin: 0 auto;
  width: 128px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(2, 2, 2, 0.308);
  align-content: inherit;
}

#video {
  margin: 0 auto;
}
