/*Links & Buttons */

a {
  text-decoration: none !important;
  display: inline-block;
  color: #86AB94 !important;
  text-shadow: 1px;
}
a:hover {
  color: #8F4625 !important;
  transition: .3s;
}
#btn_olive {
  background: #BC0F0F;
  border-color: #a10f0f;
  padding: 16px;
  margin: 16px;
  border-radius: 2px;
}

#btn_olive:hover {
  background: #8a0b0b;
  border-color: #720909;
  transition: .6s;
}
