/*Links & Buttons */

a {
  text-decoration: none;
  color: #BC0F0F;
}
a:hover {
  color: #a10808;
  transition: .3s;
}

#btn_olive {
  background: #BC0F0F;
  border-color: #a10f0f;
  padding: 16px;
  margin: 16px;
  border-radius: 2px;
}

#btn_olive:hover {
  background: #8a0b0b;
  border-color: #720909;
  transition: .6s;
}
