body {
  background-color: rgb(250, 250, 250);
  color: rgb(40, 40, 40);
}

body, h1, h2, h3, p {
  margin: 0;
}
h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

p, a, li {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

.post-content-description i:first-child {
  color: #bc0f0f;
  font-size: x-large;
}

.post-content-links i {
  color: #bc0f0f;
  font-size: larger;
}

.post-content-description i:hover, .post-content-links i:hover {
  color: #cf0e0e;
}

.page-frame-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// .page-frame-header {
//   // background-color: lightblue;
//   // padding: 16px;
// }

.page-frame-body {
  flex-grow: 1;
}

// .page-frame-footer {
//   // background-color: lightblue;
//   // padding: 16px;
// }

.content-container {
  max-width: 64%;
  margin: 0 auto;
}

/* Large devices (laptops/desktops, 1366 and up) */
@media (max-width: 1366px) {
  .content-container {
    width: 100%;
    margin: 8px auto;
  }

  .post-content-title {
    font-size: 28px;
  }

  .post-list {

    & li {
      width: 50%;
      padding: 0px 8px 16px;
    }

    & li:nth-child(n+3):nth-child(-n+8) {
      width: 33%;
      padding: 0px 8px 16px;

      & .post-content-description {
        display: none;
      }
    }

    & li:nth-child(n+9):nth-child(-n+11) {
      width: 50%;
      padding: 0px 8px 16px;
    }
  }

  .navbar-brand {
    width: 65%;
  }

  .content-container {
    max-width: 100%;
    margin: 0 auto;
  }

  body {
    width: 100% !important;
    max-width: none !important;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media (max-width: 1024px) {
  .content-container {
    width: 100%;
    margin: 8px auto;
  }

  .post-content-title {
    font-size: 28px;
  }

  .post-list {

    & li {
      width: 50%;
      padding: 0px 8px 16px;
    }

    & li:nth-child(n+3):nth-child(-n+8) {
      width: 33%;
      padding: 0px 8px 16px;

      & .post-content-description {
        display: none;
      }
    }

    & li:nth-child(n+9):nth-child(-n+11) {
      width: 50%;
      padding: 0px 8px 16px;
    }
  }

  .navbar-brand {
    width: 65%;
  }

  .content-container {
    max-width: 100%;
    margin: 0 auto;
  }

  body {
    width: 100% !important;
    max-width: none !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .content-container {
    width: 100%;
    margin: 8px auto;
  }

  .post-content-title {
    font-size: 28px;
  }

  .post-list {

    & li {
      width: 50%;
      padding: 0px 8px 16px;
    }

    & li:nth-child(n+3):nth-child(-n+8) {
      width: 50%;
      padding: 0px 8px 16px;

      & .post-content-description {
        display: none;
      }
    }

    & li:nth-child(n+9):nth-child(-n+11) {
      width: 50%;
      padding: 0px 8px 16px;
    }
  }

  .navbar-brand {
    width: 65%;
  }

  .content-container {
    max-width: 100%;
    margin: 0 auto;
  }

  body {
    width: 100% !important;
    max-width: none !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .content-container {
    width: 100%;
    margin: 8px auto;
  }

  .post-content-title {
    font-size: 28px;
  }

  .post-list {

    & li {
      width: 50%;
      padding: 0px 8px 16px;
    }

    & li:nth-child(n+3):nth-child(-n+8) {
      width: 50%;
      padding: 0px 8px 16px;

      & .post-content-description {
        display: none;
      }
    }

    & li:nth-child(n+9):nth-child(-n+11) {
      width: 50%;
      padding: 0px 8px 16px;
    }
  }

  .navbar-brand {
    width: 54%;
  }

  .content-container {
    max-width: 100%;
    margin: 0 auto;
  }

  body {
    width: 100% !important;
    max-width: none !important;
  }
}

/* Medium devices (landscape tablets, 767px and up) */
@media (max-width: 767px) {
  .content-container {
    width: 100%;
    margin: 8px auto;
  }

  .post-content-title {
    font-size: 28px;
  }

  .post-list {

    & li {
      width: 100%;
      padding: 0px 8px 16px;
    }

    & li:nth-child(n+3):nth-child(-n+8) {
      width: 100%;
      padding: 0px 8px 16px;

      & .post-content-description {
        display: none;
      }
    }

    & li:nth-child(n+9):nth-child(-n+11) {
      width: 100%;
      padding: 0px 8px 16px;
    }
  }

  .navbar-brand {
    width: 54%;
  }

  .content-container {
    max-width: 100%;
    margin: 0 auto;
  }

  body {
    width: 100% !important;
    max-width: none !important;
  }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .content-container {
    width: 100%;
    margin: 8px auto;
  }

  .post-content-title {
    font-size: 28px;
  }
  .post-container {
    width: 100%;
  }
  .post-list {

    & li {
      width: 100%;
      padding: 0px 8px 16px;
    }

    & li:nth-child(n+3):nth-child(-n+8) {
      width: 100%;
      padding: 0px 8px 16px;

      & .post-content-description {
        display: none;
      }
    }

    & li:nth-child(n+9):nth-child(-n+11) {
      width: 100%;
      padding: 0px 8px 16px;
    }
  }

  .navbar-brand {
    width: 38%;
  }

  body{
    width: 100% !important;
    max-width: none !important;
  }
}

/* Small devices (old phones 375 and up/Iphone 6/7/8) */
@media (max-width: 375px) {
  .content-container {
    width: 100%;
    margin: 8px auto;
  }

  .post-content-title {
    font-size: 16px;
  }

  .post-container {
    width: 100%;
  }

  .post-list {

    & li {
      width: 100%;
      padding: 0px 8px 16px;
    }

    & li:nth-child(n+3):nth-child(-n+8) {
      width: 100%;
      padding: 0px 8px 16px;

      & .post-content-description {
        display: none;
      }
    }

    & li:nth-child(n+9):nth-child(-n+11) {
      width: 100%;
      padding: 0px 8px 16px;
    }
  }

  .banner {
    margin-top: 56px;
  }

  .navbar-brand {
    width: 10%;
  }

  .btn-red {
    margin-top: 8px;
  }

  body {
    width: 100% !important;
    max-width: none !important;
  }
}

/* Small devices (old phones 320 and up/Iphone 5) */
@media (max-width: 320px) {
  .content-container {
    width: 100%;
    margin: 8px auto;
  }

  .post-content-title {
    font-size: 16px;
  }

  .post-container {
    width: 100%;
  }

  .post-list {

    & li {
      width: 100%;
      padding: 0px 8px 16px;
    }

    & li:nth-child(n+3):nth-child(-n+8) {
      width: 100%;
      padding: 0px 8px 16px;

      & .post-content-description {
        display: none;
      }
    }

    & li:nth-child(n+9):nth-child(-n+11) {
      width: 100%;
      padding: 0px 8px 16px;
    }
  }

  .banner {
    margin-top: 56px;
  }

  .navbar-brand {
    width: 10%;
  }

  .btn-red {
    margin-top: 8px;
  }

  body {
    width: 100% !important;
    max-width: none !important;
  }
}
