<div id="ds_carousel_controls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" id="big-image" style="background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.enworld.org%2Fattachments%2Ftashacover-jpg.125021%2F&f=1&nofb=1);" data-toggle="modal" data-target="#DS_MODAL"></div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/DndSpellsRanked_desktop.jpg');" data-toggle="modal" data-target="#DS_MODAL"></div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/DNDSpells_vertical_ipad.png');" data-toggle="modal" data-target="#DS_MODAL"></div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/DNDSpells_create_vertical_ipad.png');" data-toggle="modal" data-target="#DS_MODAL"></div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/DNDspellsRanked_iphone_frame.png');" data-toggle="modal" data-target="#DS_MODAL"></div>
  </div>
  <a class="carousel-control-prev" href="#ds_carousel_controls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#ds_carousel_controls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
