<div id="twp_carousel_controls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" id="big-image" data-toggle="modal" data-target="#TWP_MODAL">
      <iframe class="post-preview-link" src="https://giphy.com/embed/jQhhcIeRok4eHmCmOP" width="100%" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/TWP_landing.png');" data-toggle="modal" data-target="#TWP_MODAL"></div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/TWP_waiting.png');" data-toggle="modal" data-target="#TWP_MODAL"></div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/TWP_chat.png.jpg');" data-toggle="modal" data-target="#TWP_MODAL"></div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/TWP_show.jpg');" data-toggle="modal" data-target="#TWP_MODAL"></div>
    <div class="carousel-item" id="big-image" style="background-image: url('assets/images/TWP_Ripley.jpg');" data-toggle="modal" data-target="#TWP_MODAL"></div>
  </div>
  <a class="carousel-control-prev" href="#twp_carousel_controls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#twp_carousel_controls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
